
.chat{
    height: 100vh;
}




.chat_userbox{
    display: flex;
    padding:10px;
  
    text-align: right;
    align-items: center;
    cursor: pointer;
}

/* meanwhile solution */
 .chat_userbox > div{
    flex: 1;
 }

/* .chat_userbox img{
    margin: 0 10px;
    height: 60px;
} */







.chat_userbox:hover{
    background-color: rgb(98, 98, 116);
}
.chat_userbox:active{
    background-color: rgb(113, 113, 126);
}

/* overflow: scroll; */









/* #message_input{
    display: flex;
}
#message_input input{
    padding: 0 30px;
    font-size: 25px;
} */

/* .message_container{
    display: flex;
    align-items:center;
} */

.message{
    background-color: rgb(0, 72, 255);
    color: rgb(249, 249, 249);
    /* max-width: 400px; */
    min-width: 130px;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
}

.message h5+h5{
    margin-left: 10px;
}

.message > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.message > div h4{
    padding: 0;
}

.left{
    justify-content: left;
}
.right{
    justify-content: right;
}


.container{
    max-width: 100%;
}

.row>*{
    padding-right:0;
    padding-left: 0;
}

.Container{
    margin: auto;
    width: 90%;
}


#chat_content{
    /* margin: auto; */
    /* width: 85%; */
    /* max-height: 78vh; */
    overflow: auto;
}

#chat_content > div{
    margin: auto;
    width: 85%;
}

/* #chat_height{
    min-height:91vh
} */

.lower_bar{
    background-color: rgb(14, 68, 248);
    height:10vh ;
    padding:15px 20px;
}



.input{
    color: white;
    border-radius: 10px;
    padding: 6px 10px;
    /* font-size: 20px; */
    background-color: blue;
    border: none;
    width: 100%;
  
}

.input button{
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 50%;
}




.input::placeholder{
    color: rgb(199, 195, 188);
}
.flex1{
    flex: 1;
}
